@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

body {
    font-size: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
}

/* header */

.header {
    padding-top: 46px;
    background: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #000;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

.nav-button {
    display: none;
} 

/* header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-title {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

.header-text {
    line-height: 2;
}
.header-content {
    margin-top: 124px;
    max-width: 500px;
}

/* services */

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}

.services-card {
    flex: 1 1 0;
    min-width: 315px;
}

.services-card-img {
    margin-bottom: 30px;
}

.services-card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.services-card-text {
    line-height: 2;
}

/* portfolio */

.portfolio {
    padding: 90px 0;
    background: #f1f1f1;
}
.container {
}
.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}
.title-1 {
    font-size: 34px;
    font-weight: 600;
}
.project {
    text-align: center;
}
.project-img {
    margin-bottom: 40px;
}
.project-title {
    font-size: 18px;
}

.project-title-link {
    color: #000;
    text-decoration: underline;
}

.project + .project {
    margin-top: 90px;
}

/* footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}
.container {
}
.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin-bottom: 40px;
    font-size: 18px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-content-text + .contacts-content-text {
    margin-top: 1em;
}
.contacts-button {
    margin-bottom: 80px;
}
.btn {
    display: inline-block;
    background: #070707;
    padding: 7px 22px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #070707af;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color:#323232;
}

.contacts-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}
